<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exercise_02"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.exercise_02.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.exercise_02.Activity_01"
            android:label="@string/title_activity_activity_01" >
        </activity>
        <activity
            android:name="com.example.exercise_02.Activity_02"
            android:label="@string/title_activity_activity_02" >
        </activity>
        <activity
            android:name="com.example.exercise_02.Activity_03"
            android:label="@string/title_activity_activity_03" >
        </activity>
        <activity
            android:name="com.example.exercise_02.MList"
            android:label="@string/title_activity_mlist" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>